html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    // outline: 1px solid tomato;
}

:root {
    --primary-color: rgba(255, 255, 255, 1);
    --first-part: rgba(255, 184, 202, 1);
    --second-part: rgba(240, 209, 165, 1);
    --third-part: rgba(194, 226, 151, 1);

}

body {
    background: var(--primary-color);
    color: var(--primary-color);
    font-family: 'DM Sans';
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
}