:root {
    // products
    --primary-color: rgba(255, 255, 255, 1);
    --first-part: rgba(255, 184, 202, 1);
    --second-part: rgba(240, 209, 165, 1);
    --third-part: rgba(194, 226, 151, 1);

}

//var-footer
$general-bg-color: #FFF5F6;
$button-color: #FFFFFF;
$color-accent-btn-tel: #D41443;
$button-bg-accent: #D41342;
$subtitle-color: #FFA5BA;
$soclinks-bg-color: #FEA5BB;
$link-tel-color: #000000;
$copyright-color: #907E82;