<!-- section advantages -->
<section class="advantages section" id="how">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item advantages__icons--bucket-milk">
        <h3 class="advantages__title number" data-max="721">0</h3>
        <p class="advantages__details">
          We have already used 721 liters of unforgettable tasting fresh milk.
        </p>
      </li>
      <li class="advantages__item advantages__icons--bucket-apples">
        <div class="advantages__title--mode">
          <h3 class="advantages__title number1" data-max="16">0</h3>
          <div class="advantages__title">kg</div>
        </div>
        <p class="advantages__details">
          The most delicious berries were used to create an incredible taste.

        </p>
      </li>
      <li class="advantages__item advantages__icons--heart">
        <h3 class="advantages__title number2" data-max="84">0</h3>
        <p class="advantages__details">
          Batches of our products have already gone all over the country.
        </p>
      </li>
    </ul>
  </div>
</section>