<section class="contacts section" id="contacts">
    <div class="container">
        <h2 id="Contacts" class="visually-hidden">Contacts</h2>
        <ul class="contacts__wrapper">
            <li class="contacts__card">
                <div class="card__title frame__cafe">CAFE</div>
                <div class="border">
                    <h3 class="card__city">Chicago</h3>
                    <p class="card__text">We are waiting for you every day to enjoy our products</p>
                </div>

                <div>
                    <div>
                        <h3 class="card__day">Monday - Friday</h3>
                        <p class="card__time retreat">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="border">
                        <h3 class="card__day">Saturday - Sunday</h3>
                        <p class="card__time border__retreat">08:00 AM - 16:00 PM</p>
                    </div>


                </div>
                <div class="card__contact">
                    <a href="tel:+61(0)383766284" class="card__data">+61(0) 383 766 284</a>
                    <a href="https://github.com/Max7433/icecream_lending_t4.1" class="card__data">noreply@envato.com</a>
                </div>
            </li>

            <li class="contacts__card">
                <div class="card__title frame__food">FOOD TRUCK</div>
                <div class="border">
                    <h3 class="card__city">Los Angeles</h3>
                    <p class="card__text">We are waiting for you every day to enjoy our products</p>
                </div>

                <div>
                    <div>
                        <h3 class="card__day">Monday - Friday</h3>
                        <p class="card__time retreat">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="border">
                        <h3 class="card__day">Saturday - Sunday</h3>
                        <p class="card__time border__retreat">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div class="card__contact">
                    <a href="tel:+61(0)383766284" class="card__data">+61(0) 383 766 284</a>
                    <a href="https://github.com/Max7433/icecream_lending_t4.1" class="card__data">noreply@envato.com</a>
                </div>
            </li>

            <li class="contacts__card">
                <div class="card__title frame__cafe-two">CAFE</div>
                <div class="border">
                    <h3 class="card__city">New York</h3>
                    <p class="card__text">We are waiting for you every day to enjoy our products</p>
                </div>
                <div>
                    <div>
                        <h3 class="card__day">Monday - Friday</h3>
                        <p class="card__time retreat">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="border">
                        <h3 class="card__day">Saturday - Sunday</h3>
                        <p class="card__time border__retreat">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div>
                    <a href="tel:+61(0)383766284" class="card__data">+61(0) 383 766 284</a>
                    <a href="https://github.com/Max7433/icecream_lending_t4.1" class="card__data">noreply@envato.com</a>
                </div>
            </li>
        </ul>
    </div>
</section>