<section id="Customer-Reviews" class="customers section">
  <h2 id="Customer" class="visually-hidden">Customer</h2>
  <div class="customers__slider container">
    <div class="customers__slider--item customers__container ">
      <ul class="customers__wrap">
        <li class="customers__img">
          <picture>
            <source media="(min-width: 1200px)" srcset="
                      ./images/customers/testimonials1.png    1x,
                      ./images/customers/testimonials1@2x.png 2x
                    " type="image/png" />
            <source media="(min-width: 768px)" srcset="
                      ./images/customers/testimonials1.png    1x,
                      ./images/customers/testimonials1@2x.png 2x
                    " type="image/png" />
            <source media="(max-width: 767px)" srcset="
                      ./images/customers/testimonials1.png    1x,
                      ./images/customers/testimonials1@2x.png 2x
                    " type="image/png" />
            <img src="./images/customers/testimonials1.png" alt="foto" width="85" height="85" />
          </picture>
        </li>
        <li class="customers__about">
          <p class="customers__text">
            Just delicious! It is rare to find real ice cream without
            artificial flavors on store shelves. And here is sorbet, which
            consists of 50% mango puree. And its naturalness tastes great.
          </p>
        </li>
        <li class="customers__dots">
          <ul class="customers__dots--item">
            <li class="customers__dot"></li>
            <li class="customers__dot"></li>
            <li class="customers__dot"></li>
          </ul>
        </li>
        <li>
          <p class="customers__name">Emily, Los Angeles</p>
        </li>
      </ul>
    </div>
    <div class="customers__slider--item customers__container ">
      <ul class="customers__wrap">
        <li class="customers__img">
          <picture>
            <source media="(min-width: 1200px)" srcset="
                    ./images/customers/testimonials3.png    1x,
                    ./images/customers/testimonials3@2x.png 2x
                  " type="image/png" />
            <source media="(min-width: 768px)" srcset="
                    ./images/customers/testimonials3.png    1x,
                    ./images/customers/testimonials3@2x.png 2x
                  " type="image/png" />
            <source media="(max-width: 767px)" srcset="
                    ./images/customers/testimonials3.png    1x,
                    ./images/customers/testimonials3@2x.png 2x
                  " type="image/png" />
            <img src="./images/customers/testimonials3.png" alt="foto" width="85" height="85" />
          </picture>
        </li>
        <li class="customers__about">
          <p class="customers__text">
            Just delicious! It is rare to find real ice cream without
            artificial flavors on store shelves. And here is sorbet, which
            consists of 50% mango puree. And its naturalness tastes great.
          </p>
        </li>
        <li class="customers__dots">
          <ul class="customers__dots--item">
            <li class="customers__dot"></li>
            <li class="customers__dot"></li>
            <li class="customers__dot"></li>
          </ul>
        </li>
        <li>
          <p class="customers__name">Jane, Los Alamos</p>
        </li>
      </ul>


    </div>
    <div class=" customers__slider--item customers__container ">
      <ul class="customers__wrap">
        <li class="customers__img">
          <picture>
            <source media="(min-width: 1200px)" srcset="
                    ./images/customers/testimonials4.png    1x,
                    ./images/customers/testimonials4@2x.png 2x
                  " type="image/png" />
            <source media="(min-width: 768px)" srcset="
                    ./images/customers/testimonials4.png    1x,
                    ./images/customers/testimonials4@2x.png 2x
                  " type="image/png" />
            <source media="(max-width: 767px)" srcset="
                    ./images/customers/testimonials4.png    1x,
                    ./images/customers/testimonials4@2x.png 2x
                  " type="image/png" />
            <img src="./images/customers/testimonials4.png" alt="foto" width="85" height="85" />
          </picture>
        </li>
        <li class="customers__about">
          <p class="customers__text">
            Just delicious! It is rare to find real ice cream without
            artificial flavors on store shelves. And here is sorbet, which
            consists of 50% mango puree. And its naturalness tastes great.
          </p>
        </li>
        <li class="customers__dots">
          <ul class="customers__dots--item">
            <li class="customers__dot"></li>
            <li class="customers__dot"></li>
            <li class="customers__dot"></li>
          </ul>
        </li>
        <li>
          <p class="customers__name">Amanda, Mexico</p>
        </li>
      </ul>
    </div>
  </div>
</section>