<!--section gallery-->
<section class="section section__no-padding gallery__section">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list list">
      <li class="gallery__item-1">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-5@1x.webp 1x,
              ./images/gallery/desktop/gallery-pic_lg-5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-5@1x.jpg 1x,
              ./images/gallery/desktop/gallery-pic_lg-5@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-5@1x.webp 1x,
              ./images/gallery/tablet/gallery-pic_m-5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-5@1x.jpg 1x,
              ./images/gallery/tablet/gallery-pic_m-5@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-5@1x.webp 1x,
              ./images/gallery/mobile/gallery-pic_sm-5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-5@1x.jpg 1x,
              ./images/gallery/mobile/gallery-pic_sm-5@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery__img img"
            src="./images/gallery/mobile/gallery-pic_sm-5@1x.jpg"
            alt="pistachio ice cream on a stick decorated with rose petals"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item-2">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-4@1x.webp 1x,
              ./images/gallery/desktop/gallery-pic_lg-4@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-4@1x.jpg 1x,
              ./images/gallery/desktop/gallery-pic_lg-4@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-4@1x.webp 1x,
              ./images/gallery/tablet/gallery-pic_m-4@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-4@1x.jpg 1x,
              ./images/gallery/tablet/gallery-pic_m-4@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-4@1x.webp 1x,
              ./images/gallery/mobile/gallery-pic_sm-4@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-4@1x.jpg 1x,
              ./images/gallery/mobile/gallery-pic_sm-4@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery__img img"
            src="./images/gallery/mobile/gallery-pic_sm-4@1x.jpg"
            alt="strawberry ice cream cone"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item-3">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-6@1x.webp 1x,
              ./images/gallery/desktop/gallery-pic_lg-6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-6@1x.jpg 1x,
              ./images/gallery/desktop/gallery-pic_lg-6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-6@1x.webp 1x,
              ./images/gallery/tablet/gallery-pic_m-6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-6@1x.jpg 1x,
              ./images/gallery/tablet/gallery-pic_m-6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-6@1x.webp 1x,
              ./images/gallery/mobile/gallery-pic_sm-6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-6@1x.jpg 1x,
              ./images/gallery/mobile/gallery-pic_sm-6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery__img img"
            src="./images/gallery/mobile/gallery-pic_sm-6@1x.jpg"
            alt="ice cream on a stick garnished with fresh raspberry pieces"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item-4">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-1@1x.webp 1x,
              ./images/gallery/desktop/gallery-pic_lg-1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-1@1x.jpg 1x,
              ./images/gallery/desktop/gallery-pic_lg-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-1@1x.webp 1x,
              ./images/gallery/tablet/gallery-pic_m-1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-1@1x.jpg 1x,
              ./images/gallery/tablet/gallery-pic_m-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-1@1x.webp 1x,
              ./images/gallery/mobile/gallery-pic_sm-1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-1@1x.jpg 1x,
              ./images/gallery/mobile/gallery-pic_sm-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery__img gallery__img--lg img"
            src="./images/gallery/mobile/gallery-pic_sm-1@1x.jpg"
            alt="ice cream cone with different flavors, decorated with blueberries"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item-5">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-7@1x.webp 1x,
              ./images/gallery/desktop/gallery-pic_lg-7@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-7@1x.jpg 1x,
              ./images/gallery/desktop/gallery-pic_lg-7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-7@1x.webp 1x,
              ./images/gallery/tablet/gallery-pic_m-7@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-7@1x.jpg 1x,
              ./images/gallery/tablet/gallery-pic_m-7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-7@1x.webp 1x,
              ./images/gallery/mobile/gallery-pic_sm-7@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-7@1x.jpg 1x,
              ./images/gallery/mobile/gallery-pic_sm-7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery__img img"
            src="./images/gallery/mobile/gallery-pic_sm-7@1x.jpg"
            alt="happy girl eating ice cream cone"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item-6">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-9@1x.webp 1x,
              ./images/gallery/desktop/gallery-pic_lg-9@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-9@1x.jpg 1x,
              ./images/gallery/desktop/gallery-pic_lg-9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-9@1x.webp 1x,
              ./images/gallery/tablet/gallery-pic_m-9@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-9@1x.jpg 1x,
              ./images/gallery/tablet/gallery-pic_m-9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-9@1x.webp 1x,
              ./images/gallery/mobile/gallery-pic_sm-9@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-9@1x.jpg 1x,
              ./images/gallery/mobile/gallery-pic_sm-9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery__img img"
            src="./images/gallery/mobile/gallery-pic_sm-9@1x.jpg"
            alt="ice cream garnished with fresh fruit in a glass bowl"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item-7">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-8@1x.webp 1x,
              ./images/gallery/desktop/gallery-pic_lg-8@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-8@1x.jpg 1x,
              ./images/gallery/desktop/gallery-pic_lg-8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-8@1x.webp 1x,
              ./images/gallery/tablet/gallery-pic_m-8@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-8@1x.jpg 1x,
              ./images/gallery/tablet/gallery-pic_m-8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-8@1x.webp 1x,
              ./images/gallery/mobile/gallery-pic_sm-8@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-8@1x.jpg 1x,
              ./images/gallery/mobile/gallery-pic_sm-8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery__img img"
            src="./images/gallery/mobile/gallery-pic_sm-8@1x.jpg"
            alt="strawberry ice cream cone with chocolate rim"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item-8">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-10@1x.webp 1x,
              ./images/gallery/desktop/gallery-pic_lg-10@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-10@1x.jpg 1x,
              ./images/gallery/desktop/gallery-pic_lg-10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-10@1x.webp 1x,
              ./images/gallery/tablet/gallery-pic_m-10@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-10@1x.jpg 1x,
              ./images/gallery/tablet/gallery-pic_m-10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-10@1x.webp 1x,
              ./images/gallery/mobile/gallery-pic_sm-10@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-10@1x.jpg 1x,
              ./images/gallery/mobile/gallery-pic_sm-10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery__img img"
            src="./images/gallery/mobile/gallery-pic_sm-10@1x.jpg"
            alt="Yorkshire terrier enjoying the taste of ice cream"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item-9">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-12@1x.webp 1x,
              ./images/gallery/desktop/gallery-pic_lg-12@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-12@1x.jpg 1x,
              ./images/gallery/desktop/gallery-pic_lg-12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-12@1x.webp 1x,
              ./images/gallery/tablet/gallery-pic_m-12@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-12@1x.jpg 1x,
              ./images/gallery/tablet/gallery-pic_m-12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-12@1x.webp 1x,
              ./images/gallery/mobile/gallery-pic_sm-12@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-12@1x.jpg 1x,
              ./images/gallery/mobile/gallery-pic_sm-12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery__img img"
            src="./images/gallery/mobile/gallery-pic_sm-12@1x.jpg"
            alt="chocolate ice cream milkshake"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item-10">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-11@1x.webp 1x,
              ./images/gallery/desktop/gallery-pic_lg-11@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/gallery-pic_lg-11@1x.jpg 1x,
              ./images/gallery/desktop/gallery-pic_lg-11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-11@1x.webp 1x,
              ./images/gallery/tablet/gallery-pic_m-11@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/tablet/gallery-pic_m-11@1x.jpg 1x,
              ./images/gallery/tablet/gallery-pic_m-11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-11@1x.webp 1x,
              ./images/gallery/mobile/gallery-pic_sm-11@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/gallery-pic_sm-11@1x.jpg 1x,
              ./images/gallery/mobile/gallery-pic_sm-11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery__img img"
            src="./images/gallery/mobile/gallery-pic_sm-11@1x.jpg"
            alt="donut with delicate vanilla ice cream, decorated with fresh fruit"
            width="44"
            height="44"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
