<section class="section">
  <div class="container">
    <p id="products" class="product__label">1<span class="typed1"></span></p>
    <p><span class="typed1"></span></p>
    <script src="./js/typed.min.js"></script>
    <script>
      var typed = new Typed('.typed1', {
        // Waits 1000ms after typing "First"
        strings: ['  00% natural'],
        typeSpeed: 100,
        showCursor: false,
        loop: true,

      });
    </script>

    <h2 class="title">products</h2>
    <!-- <div class="wrapper"> -->
    <ul class="wrapper">
      <li class="products__card products__card--one">
        <h3 class="title product__title">ice cream</h3>

        <p class="product__text">
          Both children and adults like to eat delicious and delicate ice cream. 
          It is perfectly refreshing in the summer heat. Eat - and you can't tear yourself away!
        </p>
        <button type="button" class="button" data-modal-open-one>
          <svg class="button__icon" width="32" height="32">
            <use href="./images/product/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <div class="products__modal first is-hidden" data-modal-one>

          <p>Both children and adults like to eat delicious and delicate ice cream. It is perfectly refreshing in the
            summer heat. Eat - and you cant tear yourself away!</p>

          <button data-modal-close-one type="button" class="products__modalbutton">
            <svg class="button_productmodal" width="30" hiegh="30">
              <use class="iconcross" href="./images/product/symbol-defs.svg#icon-close-black"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__card products__card--two">
        <h3 class="title product__title">ice coffee</h3>
        <p class="product__text">
          Summer is the time to enjoy refreshing drinks. You should not give up your favorite 
          drink because of the heat. Drink and you can't tear yourself away!
          
        </p>
        <button type="button" class="button" data-modal-open-two>
          <svg class="button__icon" width="32" height="32">
            <use href="./images/product/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <div class="products__modal two is-hidden" data-modal-two>

          <p>Summer is the time to enjoy refreshing drinks. Dont give up your favorite drink because of the heat. Cold
            coffee is a great refreshing drink.</p>

          <button type="button" class="products__modalbutton" data-modal-close-two>
            <svg class="button_productmodal" width="30" hiegh="30">
              <use class="iconcross" href="./images/product/symbol-defs.svg#icon-close-black"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__card products__card--three">
        <h3 class="title product__title">milkshakes</h3>
        <p class="product__text">
          Can you offer anything better than a cool, refreshing milkshake in the summer 
          season? Drink milkshake and you can't tear yourself away!
        </p>
        <button type="button" class="button" data-modal-open-three>
          <svg class="button__icon" width="32" height="32">
            <use href="./images/product/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <div class="products__modal three is-hidden" data-modal-one-three>

          <p>Can you offer anything better than a cool, refreshing milkshake in the hot summer season? After all, this
            is something that both children and adults love so much.</p>

          <button type="button" class="products__modalbutton" data-modal-close-one-three>
            <svg class="button_productmodal" width="30" hiegh="30">
              <use class="iconcross" href="./images/product/symbol-defs.svg#icon-close-black"></use>
            </svg>
          </button>
      </li>
    </ul>
  </div>
</section>