.advantages {
    background-color: $general-bg-color;    
}

.advantages__list {
    display: grid;
    gap: 32px;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        // grid-column-gap: 22px;
    }

    @media screen and (min-width: 1280px) {
        grid-column-gap: 100px;
    }
}

.advantages__item {
    width: 230px;

    @media screen and (min-width: 768px) {
    width: 170px;
    }
    @media screen and (min-width: 1280px) {
    width: 288px;
    }
}

.advantages__icons--bucket-milk::before {
    content: '';
    display: block;
    width: 33px;
    height: 50px;
    margin-bottom: 16px;
    background-size: contain;
    background-repeat: no-repeat;

    background-image: url(../images/advantage/bucket-milk.png);

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/advantage/bucket-milk-2x.png);
    }
    
    @media screen and (min-width: 768px) {
    margin-bottom: 36px;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 40px;    
    }
}

.advantages__icons--bucket-apples::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
    background-size: contain;
    background-repeat: no-repeat;

    background-image: url(../images/advantage/bucket-apples.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/advantage/bucket-apples-2x.png);
    }

    @media screen and (min-width: 768px) {
    margin-bottom: 36px;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 40px;    
    }
}

.advantages__icons--heart::before {
    content: '';
    display: block;
    width: 44px;
    height: 50px;
    margin-bottom: 16px;
    background-size: contain;
    background-repeat: no-repeat;

    background-image: url(../images/advantage/heart.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/advantage/heart-2x.png);
    }

    @media screen and (min-width: 768px) {
    margin-bottom: 36px;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 40px;    
    }
}

.advantages__title {
    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {    
        font-size: 48px;
        margin-bottom: 22px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 58px;
        margin-bottom: 25px;           
    }
}

.advantages__title--mode {
    display: flex;
}

.advantages__details {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    color: #000000;

    @media screen and (min-width: 768px) {
        font-size: 14px;        
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;                  
    }
}