.customers__container {
    margin: 0 auto;
    max-width: 968px;
}

.customers__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customers__img {
    margin-bottom: 16px;

}

.customers__about {
    padding-top: 32px;
    padding-left: 109px;
    padding-right: 109px;
    padding-bottom: 22px;
    background: var(--customers-part);
    margin-bottom: 16px;
    position: relative;

    &::before {
        content: "";
        width: 54px;
        height: 40px;
        position: absolute;
        top: 17px;
        left: 180px;

        z-index: 1;
        background-image: url(../images/customers/“.png);
    }
}

.customers__text {


    font-weight: 500;
    font-size: 16px;
    line-height: 186%;

    text-align: center;
    letter-spacing: 0.04em;

    color: #000000;
    position: relative;
    padding: 0 96px;
    z-index: 3;
    background-color: transparent;
    background-image: repeating-linear-gradient(0deg, #e1e1e1 0 1px, transparent 1px 31px);
}

.customers__dots--item {
    display: flex;
}

.customers__dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #C7133E;
    margin-bottom: 16px;

    &+& {
        margin-left: 10px;
    }
}

.customers__name {

    font-weight: 500;
    font-size: 20px;
    line-height: 186%;


    text-align: center;

    color: #000000;
}