.footer {
    background-color: #fff5f6;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 320px) {
        max-width: 320px;
        padding: 0;
    }


    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }


    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}

.list {
    padding: 0;
    margin: 0;
    list-style: 0;
    text-decoration: 0;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__button-primary,
.footer__button-secondary {
    margin-left: auto;
    margin-right: auto;
    border: none;
}


.footer__button-primary {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 44px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    border-color: transparent;
    border-radius: 22px;
    margin-bottom: 10px;

    color: $button-color;
    background-color: $button-bg-accent;


    @media screen and (min-width: 320px) {
        width: 161px;
        min-height: 100%;
    }

    @media screen and (min-width: 768px) {

        width: 191px;

    }

    @media screen and (min-width: 1200px) {
        width: 198px;
    }
}

.footer__button-secondary {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 44px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    border-color: transparent;
    border-radius: 22px;

    color: $color-accent-btn-tel;
    background-color: $button-color;
    outline: 1px solid $button-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 320px) {
        width: 161px;
        min-height: 100%;
    }

    @media screen and (min-width: 768px) {
        width: 191px;

    }

    @media screen and (min-width: 768px) {
        width: 198px;
    }

    @media screen and (min-width: 1200px) {

        &:hover,
        &:focus {
            background-color: #ECEBEB;
            cursor: pointer;
        }
    }
}


.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.footer__subtitle {

    margin-top: 40px;
    margin-bottom: 16px;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;

    color: $subtitle-color;

    @media screen and (min-width: 320px) {
        max-width: 232px;
    }

    @media screen and (min-width: 768px) {


        max-width: 340px;
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0.04em;

        margin-bottom: 12px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 472px;
        font-size: 30px;
        line-height: 1.13;
        margin-bottom: 16px;
        margin-top: 0;
    }
}

.footer__subtitleaccent {
    margin-bottom: 40px;
    margin-top: 0;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-accent-btn-tel;


    @media screen and (min-width: 320px) {
        max-width: 200px;
    }

    @media screen and (min-width: 768px) {
        max-width: 340px;
        font-size: 48px;
        line-height: 1.15;
        letter-spacing: 0.06em;
    }

    @media screen and (min-width: 1200px) {
        max-width: 474px;
        font-size: 57px;
        line-height: 1.14;
        margin: 0;
    }
}

.footer__icon {
    margin-left: 8px;
}

.footer__tel {

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.83;
    text-align: right;

    color: $link-tel-color;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.86;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.02em;
    }

    &--accent {
        color: $color-accent-btn-tel;
    }
}

.soclinks-list {
    display: flex;
    justify-content: right;
    gap: 28px;
    margin-bottom: 40px;
}

.footer__title {
    font-size: 0.01px;
}

.soclinks-list__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;

    background-color: $soclinks-bg-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        width: 34px;
        height: 34px;
    }

    @media screen and (min-width: 1200px) {

        &:hover,
        &:focus {
            background-color: $color-accent-btn-tel;
            cursor: pointer;
        }
    }
}


.soclinks-list__item {
    display: flex;
    align-items: center;
    justify-content: center;

}

.soclinks-list__icon {

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__copy {

    display: block;
    margin-top: 16px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;

    color: $copyright-color;

    @media screen and (min-width: 320px) {
        width: 280px;
    }

    @media screen and (min-width: 768px) {
        line-height: 1.88;
        letter-spacing: 0.02em;
        margin-top: 8px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 7px;
    }
}

.footer__copyright {
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;


    @media screen and (min-width: 320px) {
        width: 150px;
    }

    @media screen and (min-width: 768px) {
        width: 278px;
    }
}

.footer__list {
    margin-top: 0;
    list-style: none;

    @media screen and (min-width: 768px) {
        display: flex;
        height: 44px;
        gap: 14.5px;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 120px;
    }
}

.footer__contact {
    display: flex;
    justify-content: right;
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        padding-bottom: 59px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 60px;
        padding-bottom: 0;
    }
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.footer__divgeneral {

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    @media screen and (min-width: 768px) {

        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}

.footer__line {
    border-top: 1px solid #e1e1e1;
    width: 100%;

    @media screen and (min-width: 1200px) {
        margin-top: 60px;
    }
}


.footer__wrapper {
    @media screen and (min-width: 1200px) {

        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}


.visually-hidden {
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    border: 0;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
}


